# Results

In [125]:
import os
import ast
import numpy as np
import pandas as pd

In [126]:
from sddip import config

## Choose results folder !!!

In [127]:
# Choose results folder
results_folder = "results_2022_03_04__14_32_13"

In [128]:
ps = "primal_solutions.csv"
ds = "dual_solutions.csv"
cc = "cut_coefficients.csv"
dual_solver = "dual_solver.csv"

results_dir = os.path.join(config.solutions_dir, results_folder)

ps_dir = os.path.join(results_dir, ps)
ds_dir = os.path.join(results_dir, ds)
cc_dir = os.path.join(results_dir, cc)
dual_solver_dir = os.path.join(results_dir, dual_solver)

In [129]:
ps_df = pd.read_csv(ps_dir, sep="\t")
ps_df

,i,k,t,x,y,x_bs,soc,v
0,0,0,0,"[0.0, 1.0, 0.0]","[0.0, 49.95917534446764, 0.0]","[[0.0, -0.0], [1.0, -0.0], [0.0, -0.0]]",[5.0],1516.228159
1,0,0,1,"[-0.0, 1.0, -0.0]","[0.0, 48.266054658227894, 0.0]","[[-0.0, -0.0], [1.0, 1.0], [-0.0, -0.0]]",[0.0],498.733143
2,0,0,2,"[0.0, 1.0, 1.0]","[0.0, 112.2360766032002, 78.0627931279801]","[[0.0, -0.0], [1.0, 1.0], [1.0, -0.0]]",[0.0],3005.389617
3,0,0,3,"[-0.0, 1.0, 1.0]","[0.0, 85.39266103370836, 74.56552282144106]","[[-0.0, -0.0], [1.0, 1.0], [1.0, 1.0]]",[0.0],1690.130675
4,0,0,4,"[-0.0, 1.0, 1.0]","[0.0, 77.97527475987059, 45.0]","[[-0.0, -0.0], [1.0, 1.0], [1.0, 1.0]]",[0.0],1293.203514
...,...,...,...,...,...,...,...,...
181,1,29,1,"[0.0, 0.0, 1.0]","[0.0, 0.0, 78.00204635636379]","[[0.0, 0.0], [0.0, 0.0], [1.0, 1.0]]",[30.0],6971.108961
182,1,29,2,"[0.0, 1.0, 1.0]","[0.0, 75.0, 99.92552964926995]","[[0.0, 0.0], [1.0, 0.0], [1.0, 1.0]]",[30.0],7161.989604
183,1,29,3,"[-0.0, 1.0, 1.0]","[0.0, 88.44802698950053, 61.53132784681346]","[[-0.0, 0.0], [1.0, 1.0], [1.0, 1.0]]",[30.0],4255.299296
184,1,29,4,"[0.0, 1.0, 1.0]","[0.0, 79.69802663663114, 45.0]","[[0.0, 0.0], [1.0, 1.0], [1.0, 1.0]]",[30.0],2603.059702
185,1,29,5,"[-0.0, 1.0, 1.0]","[0.0, 95.54311086807274, 45.0]","[[-0.0, -0.0], [1.0, 1.0], [1.0, 1.0]]",[20.0],1474.731965

In [130]:
ds_df = pd.read_csv(ds_dir, sep = "\t")
ds_df

,i,k,t,dual_value,dual_multiplier
0,1,0,5,"[1715.9846967608646, 1619.7393692508851, 1503....","[[0.0, 0.0, 12.000000212357048, 0.0, 0.0, 0.0,..."
1,1,0,4,"[2894.019036431712, 3197.742382685873, 2877.20...","[[0.0, 0.0, 12.000000083105142, 0.0, 0.0, 0.0,..."
2,1,0,3,"[4651.346591922584, 4593.716798928463, 4705.26...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.00..."
3,1,0,2,"[6329.1127655315895, 6754.317164348647, 6926.1...","[[0.0, 0.0, -17.94107481924953, 0.0, 0.0, 0.0,..."
4,1,0,1,"[7422.864126537231, 7224.887704594412, 7029.74...","[[-56.1746337516675, 0.0, -131.82536624833259,..."

In [131]:
cc_df = pd.read_csv(cc_dir, sep = "\t")
cc_df

,i,k,t,intercepts,gradients,y_multipliers,soc_multipliers
0,1,0,4,1613.019231,"[0.0, 0.0, 12.069567934521393, 0.0, 0.0, 0.0, ...",[[ 6.4516129 12.90322581 25.80645161 51.6...,[[ 0.96774194 1.93548387 3.87096774 7.74193...
1,1,0,3,2989.654587,"[0.0, 0.0, 8.000000056707952, 0.0, 0.0, 0.0, 0...",[[ 6.4516129 12.90322581 25.80645161 51.6...,[[ 0.96774194 1.93548387 3.87096774 7.74193...
2,1,0,2,4650.109323,"[-0.33333333396557474, 0.0, 0.3333333339655747...",[[ 6.4516129 12.90322581 25.80645161 51.6...,[[ 0.96774194 1.93548387 3.87096774 7.74193...
3,1,0,1,6669.863017,"[-153.84866006031342, 0.0, -185.13169821276978...",[[ 6.4516129 12.90322581 25.80645161 51.6...,[[ 0.96774194 1.93548387 3.87096774 7.74193...
4,1,0,0,7225.832126,"[-18.7248779172225, 24.334813478272796, -68.27...",[[ 6.4516129 12.90322581 25.80645161 51.6...,[[ 0.96774194 1.93548387 3.87096774 7.74193...

In [132]:
dual_solver_df = pd.read_csv(dual_solver_dir, sep= "\t")
dual_solver_df

   i  k  t       iterations                                        solver_time
0  1  0  5  [193, 193, 193]  [0.4247708320617676, 0.5127451419830322, 0.416...
1  1  0  4  [180, 180, 180]  [2.6470000743865967, 2.518671751022339, 2.4119...
2  1  0  3  [181, 181, 181]  [2.9257893562316895, 3.037350654602051, 2.9564...
3  1  0  2  [187, 500, 500]  [2.5125672817230225, 6.940274477005005, 7.6971...
4  1  0  1  [191, 189, 189]  [2.196112871170044, 2.276871681213379, 2.17946...

In [133]:
dual_solver_df["iterations"]=dual_solver_df.iterations.apply(lambda x: ast.literal_eval(str(x)))
dual_solver_df["solver_time"]=dual_solver_df.solver_time.apply(lambda x: ast.literal_eval(str(x)))

In [134]:
solver_times = np.array(dual_solver_df.solver_time.values.tolist())
solver_times

array([[0.42477083, 0.51274514, 0.41609931],
       [2.64700007, 2.51867175, 2.41198182],
       [2.92578936, 3.03735065, 2.95646954],
       [2.51256728, 6.94027448, 7.69717383],
       [2.19611287, 2.27687168, 2.17946935]])

In [135]:
iterations = np.array(dual_solver_df.iterations.tolist())
iterations

array([[193, 193, 193],
       [180, 180, 180],
       [181, 181, 181],
       [187, 500, 500],
       [191, 189, 189]])

In [136]:
np.sum(solver_times, axis=1)

array([ 1.35361528,  7.57765365,  8.91960955, 17.15001559,  6.6524539 ])

In [137]:
solver_times_adjusted = np.divide(solver_times, iterations)
np.sum(solver_times_adjusted, axis=1)

array([0.00701355, 0.04209808, 0.04927961, 0.04271109, 0.0350765 ])