# Results

In [53]:
import os
import pandas as pd

In [54]:
import sys
sys.path.append('../sddip')

import sddip.config as config

## Choose results folder !!!

In [55]:
# Choose results folder
results_folder = "results_2022_01_02__17_12_36"

In [56]:
ps = "primal_solutions.csv"
ds = "dual_solutions.csv"
cc = "cut_coefficients.csv"

results_dir = os.path.join(config.solutions_dir, results_folder)

ps_dir = os.path.join(results_dir, ps)
ds_dir = os.path.join(results_dir, ds)
cc_dir = os.path.join(results_dir, cc)

In [57]:
ps_df = pd.read_csv(ps_dir)
ps_df

   i  k  t      x      y     zx     zy
0  0  0  0  [1.0]  [0.0]  [0.0]  [0.0]
1  0  0  1  [1.0]  [0.0]  [1.0]  [0.0]
2  0  1  0  [1.0]  [0.0]  [1.0]  [0.0]
3  0  1  1  [1.0]  [0.0]  [1.0]  [0.0]
4  1  0  0  [0.0]  [0.0]  [0.0]  [0.0]
5  1  0  1  [1.0]  [0.0]  [0.0]  [0.0]
6  1  1  0  [0.0]  [0.0]  [1.0]  [0.0]
7  1  1  1  [1.0]  [0.0]  [0.0]  [0.0]

In [58]:
ds_df = pd.read_csv(ds_dir)
ds_df

   i  k  t  dual_value                                    dual_multiplier
0  0  0  1  [0.0, 0.0]  [array([ 1.99999237e+04,  0.00000000e+00, -2.0...
1  0  1  1  [0.0, 0.0]  [array([ 1.99999237e+04,  0.00000000e+00, -2.0...
2  1  0  1  [0.0, 0.0]  [array([        0.,         0.,    -20000.,   ...
3  1  1  1  [0.0, 0.0]  [array([        0.,         0.,    -20000.,   ...

In [59]:
cc_df = pd.read_csv(cc_dir)
cc_df

,i,k,t,intercepts,gradients,multipliers
0,0,0,0,0.0,"[19999.923706345726, 0.0, -20000.0, -40000.0, ...",[[5.00e-01 1.00e+00 2.00e+00 4.00e+00 8.00e+00...
1,0,1,0,0.0,"[19999.923706345726, 0.0, -20000.0, -40000.0, ...",[[5.00e-01 1.00e+00 2.00e+00 4.00e+00 8.00e+00...
2,1,0,0,0.0,"[0.0, 0.0, -20000.0, -40000.0, -80000.0, -1600...",[[5.00e-01 1.00e+00 2.00e+00 4.00e+00 8.00e+00...
3,1,1,0,0.0,"[0.0, 0.0, -20000.0, -40000.0, -80000.0, -1600...",[[5.00e-01 1.00e+00 2.00e+00 4.00e+00 8.00e+00...